html{
	font-size:16px;
	color: white;
}

body{
	width: 100%;
	height: 576px;
	background-image: url(../images/fortune-telling-1989579_960_720.jpg);
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.wrapper{
	width:100%;
	text-align:center;
	font-size:2em;
}

.red{
	font-size: 3em;
	color: red;
}


.black{
	color:black;
}
/*.stats{
	color: white;
}*/